<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="app-container">
  <style>
    :host {
      display: block;
    }

  </style>

  <template>
    <template is="dom-if" if="existJWT()">
      <home-page endpoint="[[backendServer]]"></home-page>
    </template>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'app-container',
    properties: {
      backendServer: String,
      jwtToken: String
    },
    ready: function() {
    },
    existJWT: function(jwtToken) {
      return(typeof jwtToken === "undefined");
    }
  });
</script>
