<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="app-container">
  <style>
    :host {
      display: block;
    }

  </style>

  <template>
    <template is="dom-if" if="{{!existJWT(jwtToken)}}">
      <home-page endpoint="[[backendServer]]"></home-page>
    </template>

    <template is="dom-if" if="{{existJWT(jwtToken)}}">
      <h1>Welcome back, boss Khoa</h1>
    </template>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'app-container',
    properties: {
      backendServer: String,
      jwtToken: {
        type: String,
      }
    },
    ready: function() {
      if (!this.getJWT() && this.jwtToken) {
        this.setJWT();
      }
    },
    existJWT: function(jwtToken) {
      return (jwtToken !== "undefined") || this.getJWT();
    },
    getJWT: function() {
      return sessionStorage.jwtToken;
    },
    setJWT: function() {
      if (this.existJWT()) {
        if(typeof(Storage) !== "undefined") {
          sessionStorage.setItem("jwtToken", this.jwtToken);
        } else {
          console.log("no support");
        }
      }
    }
  });
</script>
