<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="home-page">
  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }

    :host ::content .full-height {
      height: 100%;
    }

    :host ::content .text-wrapper {
      width: 100%;
    }

    :host ::content .login {
      margin: 30px 0;
    }
  </style>

  <template>
    <div class="container-fluid">
      <paper-navigation
        nav-color="green lighten-1"
        menu-items='[{"title":"Login", "url":"#login-modal"}, {"title":"Sign up", "url": "#signup-modal"}]'
        item-class="modal-trigger"
      ></paper-navigation>

      <div class="parallax-container">
        <div class="parallax">
          <img src="https://raw.githubusercontent.com/duykhoa/lovestory-assets/master/slide1.jpg">
        </div>

        <div class="valign-wrapper full-height white-text">
          <div class="valign white-text text-wrapper center">
            <h1>A space for love</h1>
            <h5>Keep all the memories that only 2 of you know and share here</h5>
          </div>
        </div>
      </div>

      <div class="section white">
        <div class="row container">
          <h2 class="header">Parallax</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
      </div>
    </div>

    <div id="login-modal" class="modal">
      <div class="modal-content center">
        <h4>Login &amp; continue writing</h4>
        <h5>your love page at lovestory.space</h5>
        <div class="login">
          <a class="waves-effect waves-light btn btn-large indigo darken-1" href="/users/auth/facebook">
            <span>Facebook</span></a>
        </div>
        <h6>100% guarantees your privacy</h6>
      </div>
    </div>

    <div id="signup-modal" class="modal">
      <div class="modal-content center">
        <h4>Create your account</h4>
        <h5>at lovestory.space</h5>
        <div class="login">
          <a class="waves-effect waves-light btn btn-large indigo darken-1" href="/users/auth/facebook">
            <span>Facebook</span></a>
        </div>
        <h6>100% guarantees your privacy</h6>
      </div>
    </div>
  </template>

</dom-module>

<script>
  Polymer({
    is: 'home-page',
    ready: function() {
      $(".parallax").parallax();
      $(".button-collapse").sideNav();
      this.async(function() {
        $(".modal-trigger").leanModal();
      }, 50);
    }
  });
</script>
