<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="home-page">
  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }
  </style>

  <template>
    <div class="container-fluid">
      <nav class="green lighten-1">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>

          <ul id="slide-out" class="side-nav">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
      </nav>

      <div class="parallax-container">
        <div class="parallax"><img src="https://raw.githubusercontent.com/duykhoa/lovestory-assets/master/slide1.jpg"></div>
      </div>

      <div class="section white">
        <div class="row container">
          <h2 class="header">Parallax</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
      </div>
    </div>
  </template>

</dom-module>

<script>
  Polymer({
    is: 'home-page',
    ready: function() {
      $(".parallax").parallax();
      $(".button-collapse").sideNav();
    }
  });
</script>
