<!DOCTYPE html>
<html lang="en">
<head>
<title>LoveStory</title>

</head>

<body>
  <home-page></home-page>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  <link rel="import" href="components/home-page.html">
  <link rel="import" href="bower_components/paper-navigation/paper-navigation.html">
</body>
</body>

</html>
