<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>LoveStory</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link type="text/css" rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>

</head>

<body>
  <home-page></home-page>
	<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  <link rel="import" href="components/home-page.html">
  <link rel="import" href="bower_components/paper-navigation/paper-navigation.html">
</body>
</body>

</html>
